@font-face {
  font-family: 'Circular-Black';
  src: url('Circular-Black.eot');
  src: url('Circular-Black.eot?#iefix') format('embedded-opentype'),
       url('Circular-Black.svg#Circular-Black') format('svg'),
       url('Circular-Black.ttf') format('truetype'),
       url('Circular-Black.woff') format('woff'),
       url('Circular-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

