@font-face {
	font-family: 'Circular';
	src: url('../fonts/Circular-Book/Circular-Book.eot');
	src: url('../fonts/Circular-Book/Circular-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circular-Book/Circular-Book.svg#Circular-Book') format('svg'),
	url('../fonts/Circular-Book/Circular-Book.ttf') format('truetype'),
	url('../fonts/Circular-Book/Circular-Book.woff') format('woff'),
	url('../fonts/Circular-Book/Circular-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circular';
	src: url('../fonts/Circular-Bold/Circular-Bold.eot');
	src: url('../fonts/Circular-Bold/Circular-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circular-Bold/Circular-Bold.svg#Circular-Bold') format('svg'),
	url('../fonts/Circular-Bold/Circular-Bold.ttf') format('truetype'),
	url('../fonts/Circular-Bold/Circular-Bold.woff') format('woff'),
	url('../fonts/Circular-Bold/Circular-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circular';
	src: url('../fonts/Circular-Medium/Circular-Medium.eot');
	src: url('../fonts/Circular-Medium/Circular-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circular-Medium/Circular-Medium.svg#Circular-Medium') format('svg'),
	url('../fonts/Circular-Medium/Circular-Medium.ttf') format('truetype'),
	url('../fonts/Circular-Medium/Circular-Medium.woff') format('woff'),
	url('../fonts/Circular-Medium/Circular-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tusker Grotesk';
	src: url('../fonts/TuskerGrotesk/TuskerGrotesk-5500Medium.eot');
	src: url('../fonts/TuskerGrotesk/TuskerGrotesk-5500Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TuskerGrotesk/TuskerGrotesk-5500Medium.svg#TuskerGrotesk-5500Medium') format('svg'),
	url('../fonts/TuskerGrotesk/TuskerGrotesk-5500Medium.ttf') format('truetype'),
	url('../fonts/TuskerGrotesk/TuskerGrotesk-5500Medium.woff') format('woff'),
	url('../fonts/TuskerGrotesk/TuskerGrotesk-5500Medium.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tusker Grotesk';
	src: url('../fonts/TuskerGrotesk/TuskerGrotesk-5600Semibold.eot');
	src: url('../fonts/TuskerGrotesk/TuskerGrotesk-5600Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TuskerGrotesk/TuskerGrotesk-5600Semibold.svg#TuskerGrotesk-5600Semibold') format('svg'),
	url('../fonts/TuskerGrotesk/TuskerGrotesk-5600Semibold.ttf') format('truetype'),
	url('../fonts/TuskerGrotesk/TuskerGrotesk-5600Semibold.woff') format('woff'),
	url('../fonts/TuskerGrotesk/TuskerGrotesk-5600Semibold.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}